<p id="notice"><%= notice %></p>

<%= image_tag @restuarant.image.url %>
<p>
  <strong>Name:</strong>
  <%= @restuarant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restuarant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restuarant.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restuarant.website %>
</p>

<%= link_to 'Edit', edit_restuarant_path(@restuarant), class: "btn btn-link" %> |
<%= link_to 'Back', restuarants_path, class: "btn btn-link" %>
